html,body{
	margin: 0;
	height: 100%;
	overflow: hidden;
}
body{
	background: #000;
}
p{
	padding: 0;
	margin: 0;
}
/*第一页*/
#loading{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/loading.gif) no-repeat center 40% #f9b92e;
	background-size: 7.96875rem 6.40625rem;
	z-index: 5;
	text-align: center;
	color: #fff;
}
#loading p{
	position: absolute;
	top: 54%;
	width: 100%;
}
.page1{
	background: url(../images/bg1.png) no-repeat;
	background-size: cover;
}
/*中间图片*/
.circle{
	position: absolute;
	top: 8.546875rem;
	left: 1.21875rem;
	width: 14.71875rem;
	height: 12.359375rem;
	background: url(../images/circle.png) no-repeat;
	background-size: cover;
}
.circle img{
	position: absolute;
}
/*数字*/
.number{
	position: absolute;
	width: 9.96875rem;
	height: 11.8125rem;
	left: 50%;
	top: -3rem;
	margin-left: -4.984rem;
	background:url(../images/fence.png) no-repeat;
	background-size: 100%;
	z-index: 2;
}
.number img{
	position: absolute;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.number img:nth-of-type(1){
	width: 3.359375rem;
	height: 3.703125rem;
	left: 0.7375rem;
	top: 4.53125rem;
}
.number img:nth-of-type(2){
	width: 3.390625rem;
	height: 3.203125rem;
	left: 2.89375rem;
	top: 4.53125rem;
}
.number img:nth-of-type(3){
	width: 1.671875rem;
	height: 3.578125rem;
	left: 5.503125rem;
	top: 4.390625rem;
}
.number img:nth-of-type(4){
	width: 2.96875rem;
	height: 3.453125rem;
	left: 6.284375rem;
	top: 4.625rem;
}
.goUp{
	-webkit-animation: 2.5s  goUpDown infinite ease-in-out alternate-reverse;
	animation: 2.5s  goUpDown infinite ease-in-out alternate-reverse;
}
.goDown{
	-webkit-animation: 2s  goUpDown infinite ease-in-out alternate-reverse;
	animation: 2s  goUpDown infinite ease-in-out alternate-reverse;
}
.goDown2{
	-webkit-animation: 2.4s  goUpDown infinite ease-in-out alternate-reverse;
	animation: 2.4s  goUpDown infinite ease-in-out alternate-reverse;
}
@-webkit-keyframes goUpDown{
	0%{transform: translateY(14px)}
	100%{transform: translateY(0px)}
}
@keyframes goUpDown{
	0%{transform: translateY(14px)}
	100%{transform: translateY(0px)}
}
/*爪子*/
.pawBox{
	z-index: 2;
	width: 8.546875rem;
	height: 21.0rem;
	position: absolute;
	left: 4.296875rem;
	top: -21rem;
}
.paw{
	position: absolute;
	left: 2.59375rem;
	top: 0;
	width: 2.90625rem;
	height: 11.046875rem;
	background: url(../images/paw.png) no-repeat .1rem 0;
	background-size: 100%;
}
.pawLeft{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 1.09375rem;
	height: 2.921875rem;
	background: url(../images/pawLeft.png) no-repeat;
	background-size: 100%;
	-webkit-transform-origin: right top;
	transform-origin: right top;
}
.pawRight{
	position: absolute;
	right: .1rem;
	bottom: .1rem;
	width: 1.34375rem;
	height: 2.828125rem;
	background: url(../images/pawRight.png) no-repeat;
	background-size: 100%;
	-webkit-transform-origin: right top;
	transform-origin: left top;
}
.M{
	width: 8.953125rem;
	height: 11.953125rem;
	position: absolute;
	left: 0;
	top: 6rem;
	background: url(../images/M.png) no-repeat;
	background-size: 100%;
}
.chain{
	opacity: 0;
}
.chainLeft{
	width: 3.828125rem;
	height: 6.125rem;
	background: url(../images/chainLeft.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: -3.526125rem;
	bottom: 0;
}
.chainRight{
	width: 3.0625rem;
	height: 4.9375rem;
	background: url(../images/chainRight.png) no-repeat;
	background-size: 100%;
	position: absolute;
	right: -2.8225rem;
	bottom: 0;
}
/*齿轮*/
@-webkit-keyframes rotate1{
	0%{
		transform: rotate(0deg)
	}
	100%{
		transform: rotate(360deg)
	}
}
@keyframes rotate1{
	0%{
		transform: rotate(0deg)
	}
	100%{
		transform: rotate(360deg)
	}
}
.gear1{
	top: 4.828125rem;
	left: 0.6875rem;
	height: 3.5rem;
	width: 3.46875rem;
	-webkit-animation: rotate1 2s infinite linear;
	animation: rotate1 2s infinite linear;
}
@-webkit-keyframes rotate2{
	0%{
		transform: rotate(360deg)
	}
	100%{
		transform: rotate(0deg)
	}
}
@keyframes rotate2{
	0%{
		transform: rotate(360deg)
		
	}
	100%{
		transform: rotate(0deg)
	}
}
.gear2{
	top: 3.125rem;
	left: 0.921875rem;
	height: 2.140625rem;
	width: 2.15625rem;
	-webkit-animation: rotate2 2s infinite linear;
	animation: rotate2 2s infinite linear;
}
.gear3{
	top: 0.734375rem;
	left: 2.421875rem;
	height: 5.34375rem;
	width: 5.34375rem;
	-webkit-animation: rotate1 4s infinite linear;
	animation: rotate1 4s infinite linear;
}
.gear4{
	top: 5.4375rem;
	left: 3.828125rem;
	height: 1.40625rem;
	width: 1.40625rem;
	-webkit-animation: rotate2 1.3s infinite linear;
	animation: rotate2 1.3s infinite linear;
}
.gear5{
	top: 2.875rem;
	left: 7.25rem;
	height: 3.90625rem;
	width: 3.890625rem;
	-webkit-animation: rotate2 2.5s infinite linear;
	animation: rotate2 2.5s infinite linear;
}
.gear6{
	top: 7.875rem;
	left: 6.421875rem;
	height: 1.84375rem;
	width: 1.84375rem;
	-webkit-animation: rotate1 1.5s infinite linear;
	animation: rotate1 1.5s infinite linear;
}
.gear7{
	top: 5.40625rem;
	left: 12.21875rem;
	height: 1.65625rem;
	width: 1.65625rem;
	-webkit-animation: rotate1 1.2s infinite linear;
	animation: rotate1 1.2s infinite linear;
}
.gear8{
	top: 6.09375rem;
	left: 9.546875rem;
	height: 3.359375rem;
	width: 3.359375rem;
	-webkit-animation: rotate2 2.2s infinite linear;
	animation: rotate2 2.2s infinite linear;
}
/*线条*/
.line1{
	top: 4.390625rem;
	left: 1.0rem;
	height: 2.9375rem;
	width: 0.390625rem
}
.line2{
	top: 1.6125rem;
	left: 1.471875rem;
	height: 2.40625rem;
	width: 2.1875rem;
}
.line3{
	top: 5.4375rem;
	left: 2.421875rem;
	height: 0.359375rem;
	width: 2.25rem;
}
.line4{
	top: 1.271875rem;
	left: 5.95rem;
	height: 2.453125rem;
	width: 4.359375rem;
}
.line5{
	top: 6.474375rem;
	left: 2.559375rem;
	height: 1.15625rem;
	width: 2.0625rem;
}
.line6{
	top: 5rem;
	left: 3.409375rem;
	height: 2.75rem;
	width: 3.34375rem;
}
.line7{
	top: 5.578125rem;
	left: 5.09375rem;
	height: 1.125rem;
	width: 5.015625rem;
}

.line8{
	top: 4.40625rem;
	left: 6.625rem;
	height: 4.375rem;
	width: 1.8125rem;
}
.line9{
	top: 5.328125rem;
	left: 7.721875rem;
	height: 4.171875rem;
	width: 2.484375rem;
}
.line10{
	top: 5.21875rem;
	left: 8.5625rem;
	height: 3.65625rem;
	width: 1.75rem;
}
.line11{
	top: 4.1875rem;
	left: 9.578125rem;
	height: 2.609375rem;
	width: 2.625rem;
}
.line12{
	top: 5.671875rem;
	left: 11.0625rem;
	height: 1.15625rem;
	width: 2.0625rem;
}
.line13{
	top: 6.515625rem;
	left: 12.3rem;
	height: 2.109375rem;
	width: 1.375rem;
}
/*左右小人*/
.person1{
	top: 10.125rem;
	left: 1.46875rem;
	height: 2.4375rem;
	width: 1.734375rem;
}
.person2{
	top: 9.375rem;
	left: 11.0rem;
	height: 3.296875rem;
	width: 1.734375rem;
	z-index: 10;
}
/*指示箭头*/
@-webkit-keyframes next{
	0%{
		bottom: 0.9375rem;
	}
	100%{
		bottom: 0.75rem;
	}
}
@keyframes next{
	0%{
		bottom: 1.1875rem;
	}
	100%{
		bottom: 0.75rem;
	}
}
.arrow{
	position: absolute;
	bottom: 1.25rem;
	left: 7.0rem;
	height: 1.125rem;
	width: 2.0rem;
	background: url(../images/next.png) no-repeat;
	background-size: cover;
	-webkit-animation: next 1s infinite alternate;
	animation: next 1s infinite alternate;
}
/*第二屏幕*/
.page2{
	background: url(../images/bg2.png) no-repeat;
	background-size: cover;
}
.word{
	width: 14.0rem;
	height: 13.578125rem;
	position: absolute;
	left: 1.0625rem;
	top: 4.578125rem;
	-webkit-transform: rotate(-45deg) scale(.8);
	transform: rotate(-45deg) scale(.8);
}
.outer{
	float: left;;
	height: 1rem;
	width: 1rem;
	z-index: 5;
	border-radius: .5rem;
}
.ori{
	width: 14.0rem;
	height: 13.578125rem;
	position: absolute;
	top: 0;
	background: url(../images/second_words.png) no-repeat;
	background-size: 100%;
}
.bottomText{
	position: absolute;
	left: 1.828125rem;
	bottom: 2.984375rem;
	width: 12.328125rem;
	height: 5.125rem;
}
.bottomText p img{
	display: block;
	width: 5.890625rem;
	height: 1.390625rem;
	position: absolute;
	left: 3.28125rem;
	top: -0.703125rem;
}
.bottomText div{
	z-index: 2;
	background: #fff;
	position: absolute;
}
.borderTop1{
	height: 0.171875rem;
	width: 2.796875rem;
	top: 0;
	left: 0.15625rem;
}
.borderTop2{
	height: 0.171875rem;
	width: 2.734375rem;
	top: 0;
	right: 0.15625rem;
}
.borderLeft{
	width: 0.15625rem;
	height: 5.10625rem;
	left: 0;
	bottom: 0;
}
.borderRight{
	width: 0.15625rem;
	height: 5.10625rem;
	right: 0;
	bottom: 0;
}
.borderBom{
	width: 12.03125rem;
	height: 0.15625rem;
	left: 0.15625rem;
	bottom: 0;
}
.font{
	display: block;
	width: 12.03125rem;
	height: 3.265625rem;
	position: absolute;
	left: 0.15625rem;
	top: 1.25rem;
	font: 0.625rem/1.09375rem '宋体';
	color: #fff;
	padding-left: 1.1875rem;
}
/*第三页动画*/
.page3{
	background: url(../images/bg3.png) no-repeat;
	background-size: cover;
}
.work{
	width: 12.34375rem;
	height: 8.125rem;
	position: relative;
	top: 1.09375rem;
	left: 1.84375rem;
	box-sizing: border-box;
	padding: 0.734375rem 0.875rem;
	color: #fff;
}
.work span{
	display: inline-block;
	font-size: 0.66rem;
	z-index: 99;
	position: relative;
}
.work div{
	position: absolute;
	left: 0;
	top: 0;
}
.work img{
	width: 4.1875rem;
	height: 6.65625rem;
	position: absolute;
	top: -0.8125rem;
	left: -1.09375rem;
	z-index: 2;
}
.cover{
	background: rgba(0,0,0,.4);
}
/*在类word中的四个角会同时加两个边框，所以给样式时候一前一后*/
.borderTop:before{
	position: absolute;
	top: 0;
	left: 0;
	height: 0.15625rem;
	width: 100%;
	background: #fff;
	content: '';
}
.borderLeft:after{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0.15625rem;
	background: #fff;
	content: '';
}
.borderBottom:before{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0.15625rem;
	width: 100%;
	background: #fff;
	content: '';
}
.borderRight:after{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 0.15625rem;
	background: #fff;
	content: '';
}
.condition{
	width: 12.34375rem;
	height: 10.375rem;
	position: absolute;
	left: 1.828125rem;
	bottom: 4.6875rem;
	box-sizing: border-box;
	padding: 0.59375rem 0.78125rem;
	color: #fff;
}
.condition img{
	position: absolute;
	right: -2.834375rem;
	top: -0.953125rem;
	width: 4.1875rem;
	height: 6.65625rem;
	z-index: 5;
}
.condition div{
	position: absolute;
	right: 0;
	top: 0;
}
.condition span{
	display: inline-block;
	position: relative;
	z-index: 99;
	font-size: 0.66rem;
}
.fonts{
	width: 100%;
	height: 50px;
	text-align: center;
	position: absolute;
	bottom: 1.90625rem;
	color: #fff;
	font-size: 0.703125rem;
}
/*第四部分动画*/
.page4{
	background: url(../images/bg4.png) no-repeat;
	background-size: cover;
}
.intro{
	width: 9.609375rem;
	height: 7.84375rem;
	position: absolute;
	left: 3.8375rem;
	top: 1.21875rem;
	z-index: 1000;
}
.introduce{
	width: 13.6875rem;
	height: 13.4375rem;
	position: absolute;
	bottom: 4.03125rem;
	left: 1.171875rem;
	box-sizing: border-box;
	color: #fff;
	padding: 0.8125rem 1.21875rem;
}
.introduce span{
	font-size: 0.78125rem;
	display: inline-block;
	position: relative;
}
.introduce div{
	float: left;
}
.introduce p{
	position: relative;
	z-index: 100;
}
.coverBox{
	position: absolute;
	left: 0;
	top: 0;
}
@-webkit-keyframes move1{
	0%{
		-webkit-transform: translateY(30rem) rotateY(0deg) translateX(4rem);
		transform: translateY(30rem) rotateY(0deg) translateX(4rem)
	}
	25%{
		-webkit-transform:translateY (26rem) rotateY(30deg) translateX(6rem);
		transform:translateY (26rem) rotateY(30deg) translateX(6rem)
	}
	50%{
		-webkit-transform: translateY(14rem) rotateY(80deg) translateX(8rem);
		transform: translateY(14rem) rotateY(80deg) translateX(8rem)
	}
	75%{
		-webkit-transform: translateY(7rem) rotateY(60deg) translateX(6rem);
		transform: translateY(7rem) rotateY(60deg) translateX(6rem)
	}
	100%{
		-webkit-transform: translateY(0rem) rotateY(0deg) translateX(4rem);
		transform: translateY(0rem) rotateY(0deg) translateX(4rem)
	}
}
@keyframes move1{
	0%{
		-webkit-transform: translateY(30rem) rotateY(0deg) translateX(4rem);
		transform: translateY(30rem) rotateY(0deg) translateX(4rem)
	}
	25%{
		-webkit-transform:translateY (26rem) rotateY(30deg) translateX(6rem);
		transform:translateY (26rem) rotateY(30deg) translateX(6rem)
	}
	50%{
		-webkit-transform: translateY(14rem) rotateY(80deg) translateX(8rem);
		transform: translateY(14rem) rotateY(80deg) translateX(8rem)
	}
	75%{
		-webkit-transform: translateY(7rem) rotateY(60deg) translateX(6rem);
		transform: translateY(7rem) rotateY(60deg) translateX(6rem)
	}
	100%{
		-webkit-transform: translateY(0rem) rotateY(0deg) translateX(4rem);
		transform: translateY(0rem) rotateY(0deg) translateX(4rem)
	}
}
.demo img:nth-of-type(1){
	width: 3.53125rem;
	height: 3.759375rem;
	position: absolute;
	-webkit-animation: move1 3s linear infinite;
	animation: move1 3s linear infinite;
}
@-webkit-keyframes move2{
	0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-4rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
@keyframes move2{
		0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-4rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
.demo img:nth-of-type(2){
	width: 0.609375rem;
	height: 0.75rem;
	position: absolute;
	left: 4.8rem;
	top: 4rem;
	-webkit-animation: move2 3s 1s linear infinite;
	animation: move2 3s 1s linear infinite;
}
@-webkit-keyframes move3{
	0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-10rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
@keyframes move3{
		0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-10rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
.demo img:nth-of-type(3){
	width: 0.765625rem;
	height: 0.921875rem;
	position: absolute;
	left: 7rem;
	top: 10rem;
	-webkit-animation: move3 3s .4s linear infinite;
	animation: move3 3s .4s linear infinite;
}
@-webkit-keyframes move4{
	0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-8rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
@keyframes move4{
		0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-8rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
.demo img:nth-of-type(4){
	width: 0.765625rem;
	height: 0.65625rem;
	position: absolute;
	left: 10rem;
	top: 8rem;
	-webkit-animation: move4 3s linear infinite;
	animation: move4 3s linear infinite;
}
@-webkit-keyframes move5{
	0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-6rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
@keyframes move5{
		0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-6rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
.demo img:nth-of-type(5){
	width: 0.53125rem;
	height: 0.5rem;
	position: absolute;
	left: 12rem;
	top: 6rem;
	-webkit-animation: move5 3s 1.4s linear infinite;
	animation: move5 3s 1.4s linear infinite;
}
@-webkit-keyframes move6{
	0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-9rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
@keyframes move6{
		0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-9rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
.demo img:nth-of-type(6){
	width: 3.53125rem;
	height: 3.859375rem;
	position: absolute;
	left: 3rem;
	top: 9rem;
	-webkit-animation: move6 3s 2.6s linear infinite;
	animation: move6 3s 2.6s linear infinite;
}
@-webkit-keyframes move7{
	0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-12rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
@keyframes move7{
		0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-12rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
.demo img:nth-of-type(7){
	width: 0.609375rem;
	height: 0.75rem;
	position: absolute;
	left: 12rem;
	top: 12rem;
	-webkit-animation: move7 3s 1s linear infinite;
	animation: move7 3s 1s linear infinite;
}
.demo img:nth-of-type(8){
	width: 0.765625rem;
	height: 0.921875rem;
	position: absolute;
	left: 10rem;
	top: 10rem;
	-webkit-animation: move3 3s linear infinite;
	animation: move3 3s linear infinite;
}
@-webkit-keyframes move8{
	0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-11rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
@keyframes move8{
		0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-11rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
.demo img:nth-of-type(9){
	width: 0.765625rem;
	height: 0.65625rem;
	position: absolute;
	left: 9rem;
	top: 11rem;
	-webkit-animation: move8 3s .8s linear infinite;
	animation: move8 3s .8s linear infinite;
}
@-webkit-keyframes move9{
	0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-2rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
@keyframes move9{
		0%{
		transform:
		translateY(30rem)
		rotateY(0deg)
		translateX(4rem)
	}
	25%{
		transform:
		translateY(26rem)
		rotateY(30deg)
		translateX(6rem)
	}
	50%{
		transform:
		translateY(14rem)
		rotateY(80deg)
		translateX(8rem)
	}
	75%{
		transform:
		translateY(7rem)
		rotateY(60deg)
		translateX(6rem)
	}
	100%{
		transform:
		translateY(-2rem)
		rotateY(0deg)
		translateX(4rem)
	}
}
.demo img:nth-of-type(10){
	width: 0.53125rem;
	height: 0.5rem;
	position: absolute;
	left: 4rem;
	top: 2rem;
	-webkit-animation: move9 3s .1s linear infinite;
	animation: move9 3s .1s linear infinite;
}
.yellow img{
	width: 3.059375rem;
	height: 3.059375rem;
	position: absolute;
}
.yellow img:nth-of-type(1){
	left: 13rem;
	top: 8rem;
	-webkit-animation: move8 3s linear infinite;
	animation: move8 3s linear infinite;
}
.yellow img:nth-of-type(2){
	left: 3rem;
	top: 2rem;
	-webkit-animation: move9 3s 3s linear infinite;
	animation: move9 3s 3s linear infinite;
}
/*第五页面的动画*/
.page5{
	background: url(../images/bg5.png) no-repeat;
	background-size: cover;
}
.page5 img{
	width: 4.078125rem;
	height: 4.875rem;
	position: absolute;
}
#boxWrap div{
	width: 4.078125rem;
	height: 4.875rem;
	position: absolute;
	background: url(../images/cube.png) no-repeat;
	background-size: 100%;
}
.textContent{
	width: 13.0rem;
	height: 6.65625rem;
	position: absolute;
	top: 4.84375rem;
	left: 1.53125rem;
	text-align: center;
	color: #fff;
	font-size: 0.65625rem;
	padding: 0.875rem 0.53125rem;
	border: 0.15625rem solid #fff;
	background: rgba(0,0,0,.3);
	box-sizing: border-box;
	font: 0.65625rem/2.1875rem 'helvetica';
}
.textContent img{
	position: absolute;
	left: 0.75rem;
	top: 2.3125rem;
	width: 11.546875rem;
	height: 1.203125rem;
}
.fifth_dot{
	position: absolute;
}
.fifth_dot:nth-of-type(1){
	top: 2.53125rem;
	left: 5.0rem;
	width: 2.546875rem;
	height: 1.90625rem;
}
.fifth_dot:nth-of-type(2){
	top: 1.5625rem;
	left: 12.234375rem;
	height: 1.8125rem;
	width: 1.8125rem;
}
.fifth_dot:nth-of-type(3){
	top: 9.96875rem;
	left: 1.15625rem;
	width: 2.078125rem;
	height: 1.5rem;
}
.fifth_dot:nth-of-type(4){
	top: 10.703125rem;
	left: 6.59375rem;
	width: 2.546875rem;
	height: 1.90625rem;
}
.fifth_dot:nth-of-type(5){
	top: 17.03125rem;
	left: 10.15625rem;
	width: 2.546875rem;
	height: 1.90625rem;
}
.contact img{
	position: absolute;
	left: 1.296875rem;
	bottom: 1.5625rem;
	height: 4.375rem;
	width: 4.375rem;
}
.look{
	position: absolute;
	right: 1.0rem;
	bottom: 2.5rem;
	color: #fff;
	font: 0.71875rem/1.15625rem '微软雅黑';
}